@import '../fonts/inter.css';

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

.dark {
  --background-color: #242629;
  --font-color: #fffffe;
  --primary-color: #a7a9be;
}


.light {
  --background-color: #fffffe;
  --font-color: #242629;
  --primary-color: #16161a;
}

body {
  background: var(--background-color);
}

body.dark #moon {
  display: none;
}

body.light #sun {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
select,
pre,
code,
label {
  color: var(--font-color);
}

button {
  background-color: var(--primary-color);
}

a,
span {
  color: var(--primary-color);
  text-decoration: none;
}

.flex { display: flex; }
.inline-flex { display: inline-flex; }
.flex-wrap { flex-wrap: wrap; }
.justify-between { justify-content: space-between; }
.items-center { align-items: center; }

.max-w-5xl { max-width: 64rem; }

.p-0 { padding: 0; }
.px-2 { padding-left: .5rem; padding-right: .5rem; }

.m-0 { margin: 0; }
.ml-4 { margin-left: 1rem; }
.my-auto { margin-top: auto; margin-bottom: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }

.leading-15 { line-height: 4rem; }

.list-none { list-style: none; }
